<div class="content">
    <h2>Oops, une erreur est survenue !</h2>
    <p>Il semblerait qu'il y ait une erreur quelque part...</p>
    <!--
        <Error>
        - Error code : {{ status_code }}
        - Error message : {{ status_text }}
        </Error>
    -->
</div>
